.background{
background-color: blue;
}
.states {
    fill: #FFF;
    stroke: #CCC;
    stroke-width: 2px;
}

.pageTitle {
	font-size: 36px;
	color: black;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
}
.dropdown {
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 10;
    font-family:  Tahoma, Geneva, sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
    margin: 80px 0 0 -10px;
}

.option {
    font-weight: normal;
    font-size: 3em;

}

.map {
  position: absolute;
  stroke: white;
  stroke-width: 1px;
  margin: 60px 0 0 20px;
}

.regions {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}


.chart {
    background-color: white;
    border: thin solid white;
    float: right;
    margin: -970px 20px 0 50px;
    right: 20px;
    left: 100px;
}


.chartTitle {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1em;
    font-weight: bold;
}

.chartBackground {
    fill: white;
}

.chartFrame {
    fill: none;
    stroke: white;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family:  Tahoma, Geneva, sans-serif;
    font-size: 0.5em;
    fill: black;
}


.gratBackground {
	fill: white;
}

.gratLines {
	fill: none;
	stroke: white;
	stroke-width: 0px;
}


.infolabel {
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
}


.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}

p{
  padding: 5px;
  font-size: 15px;
}

h2{
  margin: 400px 20px 0 0;
  font-size: 20px;
  font-family: Tahoma, Geneva, sans-serif;
  color: black;
}
